body{
    margin: 0;
    width: 100%;
   
    background-color: #4f4f4f;
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  z-index: 2;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}


.main_logo{
    width: 240px;
    height: 90px;
}
.header_top{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content:space-between;
  

}
.header_navi{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.header_navi > a :hover{
 color: #FF87B7;
}


.media_one > img{
    margin-top: 10px;
    padding-left: 5px;
    width: 370px;
    height: 280px;
    border-radius: 20px;
} 
.media_two > img{
    margin-top: 10px;
    padding-left: 5px;
    width: 370px;
    height: 280px;
    border-radius: 20px;

}
.media_three > img{
    margin-top: 10px;
    padding-left: 5px;
    width: 370px;
    height: 280px;
    border-radius: 20px;
}  

.media_four > img{
    margin-top: 10px;
    padding-left: 5px;
    width: 370px;
    height: 280px;
    border-radius: 20px;
} 

.media_one,
.media_two,
.media_three,
.media_four {
    pointer-events: none;
}


.goto{
    font-family: 'Times New Roman', Times, serif;
   font-size: 18px; 
   margin-top: 50px;
}
.goto:hover{
   
    font-weight: 700;
}




/* footer */

.footerline{
    width: 100%;
    margin-top: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
    border-top: 1px solid rgb(151, 148, 148);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content:space-between;


}
.right_footer{
    text-align: right;
}





 .wrap {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
  }

  .card {
    background: #4f4f4f;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 2px 4px 14px rgba(37, 36, 36, 1.1);
  }

  h1 {
    margin: 0 0 12px;
    color: #FF87B7;
    font-family: 'Times New Roman', Times, serif; 

  }

  .title_desc {
    margin: 0 0 22px;
    opacity: .85;
     color: #FF87B7;
     font-family: 'Times New Roman', Times, serif; 
     font-size: 18px;
  }

  /* 캐러셀 */
  .carousel {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background: linear-gradient(135deg,#FF87B7 0%, #AC7C90 100%);
  }

  .viewport {
    width: 100%;
    overflow: hidden;
  }

  .track {
    
    display: flex;
    transition: transform 0.45s ease;
  }

  .slide {
    min-width: 101%;
    padding: 100px 50px  20px  50px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    
  }

  .slide img {
    width: 275px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
  }

  .info .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    
  }

  .desc {
    margin-bottom: 18px;
    font-size: 15px;
    opacity: .9;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
     margin-left: 20px;
  }

  .detail {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    z-index: 50;
    position: relative;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(3px);
    transition: 0.2s;
     margin: 20px  20px 0 20px;
  }

  .detail:hover {
    background: rgba(255,255,255,0.3);
  }

  /* Controls */
  .controls {
    padding: 12px 0 20px;
    text-align: center;
  }

  .btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 22px;
    margin: 0 14px;
    padding: 4px 10px;
    position: relative;
    top: 0;
    left: 100%;

  }


  .indicators {
    margin-top: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 6px;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
  }

  .dot[aria-current="true"] {
    background: #fff;
  }

  .lastsentence {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    opacity: .8;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
  }

       