
body{
    margin: 0;
    background-color:#ffd8e1;
  
    position: relative;
    
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  z-index: 2;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}


.logo > img{
  margin-left: 35px;
    margin-top: 20px;
    width: 320px;
    height: 200px;
}



/* main_container */

.main_container{
    width: 60%;
    height: 800px;
    background-color: #feffff;
    overflow:auto;
    border-radius: 50px;
    margin: 10px auto;
    z-index: 5;
    position: relative;
  
  border: 3px solid #feffff;
 
  box-shadow: 0 0 15px #feffff;
}



.question_box{
    padding:30px 70px;
     z-index: 7;
    
}

.agenda{
  padding-bottom: 30px;
}
.title{
    font-size: 25px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    padding: 35px 0;
}

.contents1, .contents2
{
    padding-bottom: 25px;
}

.question{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.answer{
     display: inline-block;
    padding: 10PX;
   margin-left: 30px;
   margin-top: 10px;
     font-size: 18px;
     font-weight: 900;
    background-color: rgb(241, 218, 222);
    border-radius: 15px;
    
}


/*  스크롤 바 */

/* 스크롤바 자체 숨기기 */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* 스크롤 막대도 투명 */
::-webkit-scrollbar-thumb {
  background: transparent;
}
footer{
    height: 50px;
}





