
body{
    margin: 0;
    background-color:#ffffff;
  
    position: relative;

        
  background-image: radial-gradient(#508cff99 12%, transparent 14%);
  background-size: 50px 50px;
}
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.your-scroll-element {
  scrollbar-width: none;
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  z-index: 2;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}


.logo {
   font-size: 60px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 900;
   color: #0e66b9;
   padding: 15px 30px 30px 30px;
    animation: glowFade 2s infinite ease-in-out;
    }

    @keyframes glowFade {
    0% {
        text-shadow: 0 0 11px rgba(80, 150, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 25px rgba(80, 150, 255, 0.9);
    }
    100% {
        text-shadow: 0 0 8px rgba(80, 150, 255, 0.5);
    }
    }


/* main_container */

.main_container{
    width: 60%;
    height: 800px;
    background-color: #feffff;
    overflow:auto;
    border-radius: 50px;
    margin: 10px auto;
    z-index: 5;
    position: relative;
  
  border: 2px solid #508cff99;
 
  box-shadow: 0 0 70px #508cff99;
}



.question_box{
    padding:30px 70px;
     z-index: 7;
    
}

.agenda{
  padding-bottom: 30px;
}
.title{
    font-size: 25px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    padding: 35px 0;
}

.contents1, .contents2
{
    padding-bottom: 25px;
}

.question{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.answer{
   display: inline-block;
    padding: 10PX;
   margin-left: 30px;
   margin-top: 10px;
     font-size: 18px;
     font-weight: 900;
    background-color: aliceblue;
    border-radius: 15px;
    
}


/*  스크롤 바 */

/* 스크롤바 영역 자체 */
::-webkit-scrollbar {
  width: 8px;      /* 너비는 필요하면 유지 */
  background: transparent;
}

/* 스크롤 막대 */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* 스크롤 막대 hover, active도 투명 */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
footer{
    height: 100px;
}

.semo1 {
    width: 250px;
    height: 320px;
    position: absolute;
    top: 59%;
    left: 90px;
    z-index: -2;
}



.semo2 {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 6%;
    left: 1360px;
    transform: rotate(10deg);
}

.semo3 {
    width: 280px;
    height: 400px;
    position: absolute;
    top: 11%;
    left: 16px;
    z-index: -1;
    transform: rotate(-15deg);
}

.semo4 {
    width: 260px;
    height: 320px;
    position: absolute;
    top: 59%;
    left: 1370px;
}
.seno_name{
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 900;
   color: #0e66b9;
   padding: 30px;
    animation: glowFade 2s infinite ease-in-out;
    position: absolute;
    top: 21%;
    left: 50px;
     
    
}
.name1{
    position: absolute;
    top: 21%;
    left: 50px;
     transform: rotate(-50deg);
    

}
.name2{
    position: absolute;
    top: 7%;
    left: 1317px;
     transform: rotate(-50deg);
    

}
.name3{
    position: absolute;
    top: 57%;
    left: 137px;   

}
.name4{
    position: absolute;
    top: 78%;
    left: 1541px;
     transform: rotate(34deg);
    

}
.ribbon {
    width: 200px;
    height: 200px;
    z-index: 999;
    position: absolute;
    top: 5%;
    left: 1100px;}

    .star {
    width: 150px;
    height: 150px;
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 1040px;}

    .gliter{
      width: 100px;
    height: 100px;
    z-index: 999;
    position: absolute;
    top: 26%;
    left: 1190px;}
    