
body{
    margin: 0;
    background-color: #ac1c13;
  
    position: relative;
}
::-webkit-scrollbar {
  display: none;
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  z-index: 2;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}


.logo > img{

    width: 360px;
    height: 150px;
}



/* main_container */

.main_container{
    width: 60%;
    height: 800px;
    background-color: #feffff;
    overflow:auto;
    border-radius: 50px;
    margin: 10px auto;
    z-index: 5;
    position: relative;
  
  border: 3px solid #e8c67e;
 
  box-shadow: 0 0 15px #e8c67e;
}



.question_box{
    padding:30px 70px;
     z-index: 7;
    
}

.agenda{
  padding-bottom: 30px;
}
.title{
    font-size: 25px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    padding: 35px 0;
}

.contents1, .contents2
{
    padding-bottom: 25px;
}

.question{
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
   
    
}
.answer{
    display: inline-block;
    padding: 10PX;
   margin-left: 30px;
   margin-top: 10px;
     font-size: 18px;
     font-weight: 900;
    background-color: #f8eeed;
    border-radius: 15px;
     
    
}


/*  스크롤 바 */

/* 스크롤바 자체 숨기기 */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* 스크롤 막대도 투명 */
::-webkit-scrollbar-thumb {
  background: transparent;
}
footer{
    height: 50px;
}

.pen {
    width: 290px;
    height: 360px;
    position: absolute;
    top: 54%;
    left: 1340px;
    z-index: -2;
     transform: rotate(-10deg);
}
.redlogo {
    width: 500px;
    height: 320px;
    position: absolute;
    top: 3%;
    left: 1220px;
    z-index: -2;
}
.redlogo2 {
    width: 500px;
    height: 320px;
    position: absolute;
    top: 68%;
    left: -10px;
    z-index: -2;
}
.goldframe1 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 26%;
    left: 20px;
    z-index: -2;
}
.redbook {
    width: 230px;
    height: 294px;
    position: absolute;
    top: 31.5%;
    left: 57px;
    z-index: -2;
    border-radius: 40%;
    z-index: -99;
}


.wax2{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 1270px;
    z-index: 999;
   
   
    
}


.star-x {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  color: white;
  background: transparent;
  box-shadow:
    0 0 6px 2px white,
    0 0 12px 4px rgba(255,255,255,0.9);
  transform: rotate(45deg);
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

.x{
   position: absolute;
  top: 93%;
  left: 70px;

}

.x1{
   position: absolute;
  top: 40%;
  left: 1400px;

}
.x2{
   position: absolute;
  top: 8%;
  left: 550px;

}
.x3{
   position: absolute;
  top: 20%;
  left: 50px;

}
.x4{
   position: absolute;
  top: 47%;
  left: 280px;

}
.x5{
   position: absolute;
  top: 12%;
  left: 900px;

}
.x6{
   position: absolute;
  top: 6%;
  left:1300px;

}
.x7{
   position: absolute;
  top: 50%;
  left: 1600px;

}

.x8{
  position: absolute;
  top: 80%;
  left: 1450px;

}

.spark-star {
  color: #e8c67e;         
  font-size: 40px;        /* 크기 조절 가능 */
  animation: twinkle 1.6s infinite ease-in-out;
 
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
}



.s{
   position: absolute;
  top: 94%;
  left: 70px;

}

.s1{
   position: absolute;
  top: 67%;
  left: 1520px;

}

.s2{
   position: absolute;
  top: 90%;
  left: 1620px;

}


.s3{
   position: absolute;
  top: 24%;
  left: 60px;

}
.s4{
   position: absolute;
  top: 60%;
  left: 280px;

}
.s5{
   position: absolute;
  top: 10%;
  left: 650px;

}
.s6{
   position: absolute;
  top: 7%;
  left:1250px;

}